
body>header{
    background-color: blue;
    height: 30vh;
}

h1 {
    margin-top: 3rem;
}

body>main {
    width: 100vw;
}

/* ################################################################################################## */

#onload {
    height: 100vh;
    width: 100vw;
    background-color: rgb(184, 175, 175, 0.4);
    z-index: 1001;
    position: fixed;
    top: 0;
}

#rules {
    background-color:white;
    padding: 1rem;
    margin: 1rem;
}

#timer {
    position: absolute;
    top : 27vh;
    right: 2em;
}


/* ################################################################################################### */

.card {
    height: 18vh;
    width: 5em;
    background-image: url(../img/cards-hide.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.reveal {
    animation: rotate 750ms linear 0s 1 normal;
    animation-fill-mode: both;
}


@keyframes rotate {
    0% {
        transform: rotateY(0deg);
        background-image: url(../img/cards-hide.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    100% {
        transform: rotateY(180deg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}



/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 768px){
    .card {
        height: 25vh;
        width: 15vw;
    }
    
}

@media screen and (min-width: 992px){
    .card {
        height: 27vh;
        width: 10vw;
    }
}